.calendar-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.calendar-header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20rem;
}

.calendar-month-text {
  color: var(--not-quite-black);
  font-weight: bold;
}

.calendar-prev-button,
.calendar-next-button {
  padding: 0.5rem;

  border: none;
  background: var(--accent-alt-opacity);
  color: var(--not-quite-black);
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.calendar-prev-button:hover,
.calendar-next-button:hover {
  background: var(--accent-alt);
  color: var(--accent);
  cursor: pointer;
}

.calendar-weekdays {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  margin-top: -1rem;
  font-weight: 500;
}

.calendar-weekdays span {
  display: flex;
  width: 2rem;
  justify-content: center;
}

.calendar-weekday-today {
  color: var(--accent);
}

.calendar-days {
  margin-top: -1.25rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 19rem;
  justify-content: center;
  align-items: center;
  grid-gap: 0.35rem 1rem;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30px;
  min-width: 30px;
  background: var(--accent-alt-opacity);
  color: var(--not-quite-black);
  aspect-ratio: 1/1;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.day.inactive {
  background: var(--gray-opacity);
  color: var(--dark-gray);
}

.day.inactive:hover {
  background: var(--gray-opacity);
  color: var(--not-quite-black);
}

.current-day {
  background: var(--accent);
  color: var(--not-quite-white);
  transition: all 0.5s ease;
}

.current-day:hover {
  background: var(--dark-accent);
}

.day:hover {
  background: var(--accent-alt);
  color: var(--accent);
}
