.pomodoro-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2rem;
}

.pomodoro-timer {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: 500;
  color: var(--not-quite-black);
  background: var(--accent-alt-opacity);
  padding: 1rem 2rem;
  width: 18rem;
  border-radius: 2rem;
  height: 10rem;
  align-items: center;
  transition: all 0.5s ease;
}

.pomodoro-timer:hover {
  color: var(--accent);
  background: var(--accent-alt);
}

.pomodoro-timer-input {
  font-size: 6rem;
  font-weight: 500;
  width: 18rem;
  border: none;
  border-radius: 1rem;
  background: var(--accent-opacity);
  text-align: center;
  outline: none;
}
