.card {
  min-width: 23rem;
  height: 23rem;
  padding: 2rem;
  background-color: var(--not-quite-white);
  border-radius: 4rem;
  box-shadow: -1px 1px 2px #1111112c;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.card-title {
  font-weight: 500;
  font-size: 1rem;
  margin-top: -0.5rem;
}

.card-wrapper {
  display: flex;
  justify-content: center;
}

.card-sm {
  width: 23rem;
}

.card-md {
  width: calc((23rem * 2) + 2rem);
}
