.weather-icon {
  height: 5rem;
  width: 5rem;
  background: var(--accent-alt-opacity);
  border-radius: 1.5rem;
  transition: all 0.5s ease;
}

.weather-icon:hover {
  background: var(--accent-alt);
}
