.pulse-author-wrapper,
.paulo-author-wrapper,
.author-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.author-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author-icons svg.author-icon {
  color: var(--accent);
}

.author-icons svg {
  margin-top: 0.5rem;
  font-size: 4rem;
  color: var(--not-quite-black);
  background: var(--accent-alt-opacity);
  border-radius: 2rem;
  padding: 1rem;
  transition: all 0.5s ease;
}

.author-title {
  color: var(--not-quite-black);
  font-weight: 500;
  transition: all 0.5s ease;
}

.author-icons {
  display: flex;
  gap: 2rem;
}

.author-icons .author-icon:hover {
  background: var(--accent-alt);
}

.author-icons svg:hover {
  background: var(--accent-alt);
  color: var(--accent);
}

.author-title:hover {
  color: var(--accent);
}

.pulse-author-wrapper:hover .author-title,
.paulo-author-wrapper:hover .author-title {
  color: var(--accent);
}
