.pulse-wrapper,
.paulo-wrapper,
.contact-wrapper {
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0rem 2rem;
}

.contact-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-link svg.contact-icon {
  color: var(--accent);
}


.contact-link svg {
  font-size: 4rem;
  color: var(--not-quite-black);
  background: var(--accent-alt-opacity);
  border-radius: 2rem;
  padding: 1rem;
  transition: all 0.5s ease;
}

.contact-title {
  margin-top: 0.5rem;
  color: var(--not-quite-black);
  font-weight: 500;
  transition: all 0.5s ease;
}

.contact-link:hover svg {
  color: var(--accent);
  background: var(--accent-alt);
}

.contact-link:hover span {
  color: var(--accent);
}
