.cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 85rem;
}

.all-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
