@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --accent: #5417cf;
  --dark-accent: #2f0d73;
  --accent-alt: #b49fdf;
  --accent-alt-opacity: #b49fdf5c;
  --gray: #ccc;
  --dark-gray: #999;
  --not-quite-black: #111;
  --not-quite-white: #e8ecf1;
  --warn: #ed4245;
}

body {
  background-color: var(--accent-alt);
}

* {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*::selection {
  background: var(--accent);
}
